* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: 900;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

.btn {
  padding: 1rem 5rem;
  border: none;
  background-color: lawngreen;
  border-radius: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color .2s ease-in;
}

.btn:hover {
  background-color: green;
  color: wheat;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  margin: 0 auto;
}

.header__heading {
  margin-top: 2rem;
  text-align: center;
  font-size: 4rem;
  color: white;
}

.header__heading span {
  display: block;
}

@media (min-width: 768px) {
  .header__imagen {
    width: 15%;
  }
}

.navegacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem 0;
}

@media (min-width: 768px) {
  .navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
  }
}

.navegacion a {
  font-size: 1.8rem;
  color: white;
}

.navegacion a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .navegacion a {
    padding: 1rem 15rem;
    font-size: 1.5rem;
  }
}

/* Publicaciones */
.publicaciones {
  background-color: #e1e1e1;
  padding: 0 0 3rem 0;
  margin-bottom: 0;
}

.publicaciones__heading {
  text-align: center;
  font-size: 3rem;
  margin-top: 0;
  padding: 4rem 0 1rem 0;
}

@media (min-width: 768px) {
  .publicaciones__heading {
    font-size: 4.4rem;
  }
}

.publicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.publicacion:first-of-type {
  margin-top: 0;
}

.publicacion__heading {
  font-size: 2.4rem;
}

@media (min-width: 768px) {
  .publicacion__heading {
    font-size: 3rem;
  }
}

.publicacion__descripcion {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.8;
  padding: 3rem 2rem;
}

@media (min-width: 768px) {
  .publicacion__descripcion {
    padding: 3rem 20rem;
  }
}

.publicacion__imagen {
  max-width: 80%;
  border-radius: 1rem;
}

/* Footer */
.footer {
  background-color: green;
  padding: 4rem 0;
}

.footer__copyryght {
  text-align: center;
  font-size: 1.5rem;
}

/* Admin */
.admin {
  display: block;
  text-align: right;
  margin-right: 15rem;
  margin-top: .5rem;
  font-size: 1.7rem;
  color: wheat;
  transition: all .2s ease-in;
}

.admin:hover {
  color: black;
  text-decoration: underline;
}

/* Calendario */
.calendario__heading {
  text-align: center;
  padding: 6rem 0;
  margin-top: 0;
}

/* Boletin */
.boletin {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem 0rem;
  padding: 0 5rem;
}

@media (min-width: 768px) {
  .boletin {
    gap: 5rem 0;
    padding: 0 20rem;
  }
}

.boletin__heading {
  font-size: 3.2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .boletin__heading {
    font-size: 4.4rem;
  }
}

.boletin__descripcion {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.8;
}

/* Formulario */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__etiquetas {
  display: flex;
  flex-direction: column;
  gap: 5rem 0;
  padding-bottom: 5rem;
}

.form__label {
  text-align: center;
  font-size: 3.4rem;
  color: green;
}

.form__input {
  padding: 1rem 5rem;
  border: 1px solid green;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.form__btn {
  text-align: center;
  margin-bottom: 5rem;
}

/* Login */
.formlg {
  max-width: 100rem;
  min-height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 15rem;
}

.formlg fieldset {
  border: 1px solid black;
  margin-bottom: 1.5rem;
}

.formlg legend {
  width: 100%;
  font-size: 3rem;
  background-color: lightskyblue;
  padding: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
  border-radius: 1rem;
}

.campo {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  font-size: 1.5rem;
  gap: 0 3rem;
}

